#container
  #log
  #infovis
  #inner-details
  #chart

%h1 Your Elements

%h3
  View:
  = params[:view] ? link_to('Tree', elements_path) : "Tree"
  |
  - if params[:view] == 'ranked'
    Ranked
  - else
    = link_to('Ranked', elements_path(:view => 'ranked'))

%h3= link_to('Add new Element', new_element_path)
%ul
  - @elements.each do |element|
    = render 'tree', :element => element
